<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Template</title>
</head>
<body>
    <div id="main">
        <!-- Header -->
        <div id="header">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Gallery</a></li>
                </ul>
            </nav>
        </div>
        <!-- Main Content -->
        <section id="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dicta cum, eaque sit aspernatur enim quam facilis alias sunt aliquid odit rem fugiat voluptatum? Officia omnis quo corporis eveniet? Laborum?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium dolorum dolore facilis esse accusamus eaque, repudiandae necessitatibus dolor reiciendis soluta illo? Deserunt consequatur nisi tempore magnam fugiat non earum velit.
        </section>
        <!-- Sidebar -->
        <section id="side-bar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </section>
        <!-- Footer -->
        <section id="footer">This is sample website</section>
    </div>
</body>
</html>