:root{
    --yellow:#FFC800;
    --red:red;
    --white:white;
    --border-gray:#c2c2c2;
    --light-yellow:#FFC8001C;
    --light-white:#FFFFFF1C;
    --font-grey:#706F85;
    --font-dark-grey:#454360;
    --light-text:#D4D6DD;
    --medium-text:#54595F;
    --faint-blue:#F9F9FF;
}